*{
  font-family: 'Raleway', sans-serif;
  }
  
  body {
      height: 100vh;
  }
  
  .parent-container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      height: 100%;
  }
  
  .computer-science-container {
      order: 1;
      padding: 0 50px;
  }
  
  .majors-container {
      order: 2;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e7ebe7;
  }
  
  .majors-content-container {
      padding: 0 50px;
  }
  
  .divider {
      padding: 0 5px;
  }
  
  @media screen and (min-width: 1200px) {
      .parent-container {
          flex-direction: row;
      }
      .computer-science-container {
          width: 900px;
          order: 2;
      }
      .majors-container {
          width: 300px;
          order: 1;
      }
  }
  
  .majors-container .majors-content-container p {
      margin: 100;
  }
  
  .major-button {
      text-align: center;
      background-color: maroon;
      color: white;
      padding: 20px;
  }
  
  .computer-science-container .computer-science-content-container h1 {
      margin: 0;
      color: #910029;
      display: inline-block;
      width: 500px;
      padding: 0 2rem;
      letter-spacing: -.03rem;
      font-weight: 300;
      font-size: 3.125rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
  
  }
  
  u {
      color: #910029;
  }
  
  .image-container {
      float: right;
      margin: 0 0 1rem 2rem;
    }
    
    .image-container img {
      width: 200px;
      height: auto;
    }
  
    .side-nav {
        border-radius: 1px; 
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-weight: 400;
        font-size: .875rem;
        letter-spacing: .01rem;
        padding: 0.25rem 0;
    }

  .side-bar{
        background-color: #e9e9e9;
        border-left: 1px solid #900028;
        padding: 0.5rem 0.65rem 0;
        padding-bottom: 0.5rem; 
  }
  uL{
    list-style: none;
  }
  
  .different{
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5;
  }